.knowledge {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
    gap: 24px;
}

.knowledge > h1 {
    grid-column: 2/12;
}

.tags {
    grid-column: 2/12;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tags li {
    color: var(--bg-secondary);
    background: var(--text-primary);
    padding: 6px 8px;
}
